# PhpStorm
/.idea

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Composer
/vendor

# PHPUnit
/.phpunit.cache
.phpunit.result.cache
